/* Navbar */
.side_bar{
  width: 200px;
  padding: 1rem;
  position: fixed;
  top: 50px;
  left: 0;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content{
  width: calc(100% - 200px);
  padding: 70px  5%;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width:800px) {
  .side_bar{width: 0px;overflow: auto;padding: 0;position: fixed;z-index: 20;}
  .content{width: 100%;position: static;}
}

.card{
  box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0,2) !important;
  border-radius: 1rem !important;
}

body{
  background-color: #f2f2f2 !important;
}